<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Please modify thes values to change how the log is identified including its path -->
    <property name="LOG_FILE" value="logs/routerservice.log"/>

    <!-- the rollover settings with mean a max size per log of 100Mb and 7 days -->
    <property name="MAX_HISTORY" value="7"/>
    <property name="MAX_FILE_SIZE" value="100MB"/>


    <!-- the specific loggers -->
    <logger name="com.libertas" level="DEBUG"/>
    <logger name="org.springframework.cloud.netflix.turbine" level="DEBUG"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.security.oauth2" level="INFO"/>
    <logger name="org.springframework.integration" level="OFF"/>
    <logger name="org.springframework.oxm" level="OFF"/>
    <logger name="org.springframework.http" level="ERROR"/>

    <logger name="com.netflix.discovery" level="DEBUG"/>
    <logger name="com.netflix.eureka.util.AwsAsgUtil" level="OFF"/>

    <include resource="vipaasbaselognoconsole.xml"/>

</configuration>



